@import "tailwindcss";



.form-container {
  width: 350px;
  background-color: rgb(206, 188, 188);
  display: flex;
  flex-direction: column;
  margin: 20px 120px;
  border-radius: 5px;
  padding-top: 30px;
  padding-left: 10px;
}

.form-container input {
  width: 250px;
  margin: 20px 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 30px;
}

.form-container input::placeholder {
  padding-left: 80px;
}

.form-container button {
  background-color: rgb(86, 204, 204);
  width: 200px;
  margin-left: 65px;
  margin-bottom: 30px;
  border-radius: 10px;
  height: 30px;
}

.error {
  background-color: rgb(232, 140, 140);
  width: 300px;
  height: 40px;
  border-radius: 5px;
  padding-top: 5px;
  margin-left: 130px;
}

.btn {
  @apply cursor-pointer;
}